{{> header}}

<h2>Todos los productos en tiempo real</h2>
<ul id="product-list">
  {{#each products}}
    <li>{{name}} - ${{price}}</li>
  {{/each}}
</ul>

<form id="add-product-form">
  <input type="text" id="product-name" placeholder="Nombre del producto" required>
  <input type="number" id="product-price" placeholder="Precio" required>
  <button type="submit">Agregar producto</button>
</form>

{{> footer}}

<script src="/desafios/desafio4/src/public/js/index.js"></script>
